.projeler_container {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  padding-left: 70px;
  overflow: hidden;

}

.projeler_başlık {
  text-align: center;
  align-items: center;
  margin: 20px;
}

.proje_alan {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.card_proje {
  color: white;
  width: 500px;
  height: 250px;
  position: relative;
  border-radius: 8px;
  line-height: 150%;
  background: #ff930f;
  background: linear-gradient(to top, #ff930f, #ffcc33);
  transition: background-color 1s ease-in-out;
  overflow: hidden;
  box-shadow: 0px 15px 20px -5px rgba(104, 100, 235, 0.5);
  background-size: cover;
}

.card_proje_image {
  background-image: url("../resim/yeni-carusel.jpg");

}

.card_proje:nth-child(2) {
  background-image: url("../resim/İBBYOLMÜDÜRLÜĞÜ33.jpg");
}

.card_proje:nth-child(3) {
  background-image: url("../resim/İBBKARTAL1.JPEG");
  background-position-y: -20px;


}

.card_proje:nth-child(4) {
  background-image: url("../resim/AİLESAGLIK1.jpg");
}


.card-front {
  bottom: 16px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  background-color: rgba(81, 81, 206, 0.692);
}

.card-back {
  height: 100%;
  background-color: rgba(81, 81, 206, 0.692);
  transform: translateX(120%);
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860);

}

/*Text*/
.title {
  font-size: 1.3rem;
  font-weight: bold;
}

/*Text divider*/
.title::after {
  content: "";
  display: block;
  width: 50%;
  border-radius: 50%;
  height: 2px;
  margin: 2px auto;
  background-color: white;
}


/*Hover*/
.card_proje:hover {
  background-color: #1b1b1b25;
}

.card_proje:hover .card-front {
  transform: translateX(0);
}

.card_proje:hover .card-back {
  transform: translateX(0);
}

.projec_container {
  position: absolute;
  top: 50px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: rgb(81, 81, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all;

}

.projec_container1 {
  position: absolute;
  top: 50px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: rgb(81, 81, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all;
}

.projec_container2 {
  position: absolute;
  top: 50px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: rgb(81, 81, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all;
}

.projec_container3 {
  position: absolute;
  top: 50px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: rgb(81, 81, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all;
}

.projec_container .x {
  font-size: 50px;
  color: white;
  position: fixed;
  right: 50px;
  top: 50px;
  -webkit-text-stroke: 2px #0e112e;
}

.projec_container1 .x1 {
  font-size: 50px;
  color: white;
  position: fixed;
  right: 50px;
  top: 50px;
  -webkit-text-stroke: 2px #0e112e;
}

.projec_container2 .x2 {
  font-size: 50px;
  color: white;
  position: fixed;
  right: 50px;
  top: 50px;
  -webkit-text-stroke: 2px #0e112e;
}

.projec_container3 .x3 {
  font-size: 50px;
  color: white;
  position: fixed;
  right: 50px;
  top: 50px;
  -webkit-text-stroke: 2px #0e112e;
}

.projec_closed {
  transform: translateX(-100%);
  transition: ease-in-out 1s all;
}

.projec_closed1 {
  transform: translateX(-100%);
  transition: ease-in-out 1s all;
}

.projec_closed2 {
  transform: translateX(-100%);
  transition: ease-in-out 1s all;
}

.projec_closed3 {
  transform: translateX(-100%);
  transition: ease-in-out 1s all;
}


.projec_open {
  display: inline-block;
  transition: ease-in-out 1s all;
}

.projec_detail_container {
  width: 90%;
  height: 100%;
  z-index: 66;
  background-color: rgba(81, 81, 206, 0.904);
  overflow: hidden;
  box-sizing: border-box;

}

.projec_detail_container .projec_image {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;

}

.projec_detail_container .projec_image .image__ {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;

}

.projec_detail_container .projec_image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;

  box-shadow: 0px 15px 20px -5px rgba(242, 235, 235, 0.5);
}

.projec_detail_container .projec_detail {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projec_detail_container .projec_detail .new_detail {
  width: 65%;
}

.projec_detail_container .projec_detail h1 {
  color: white;
}

.projec_detail_container .projec_detail p {
  color: white;
  width: 100%;
  font-size: 19px;
}

@media (max-width:441px) {
  .projeler_container {
    padding-left: 20px;
  }

}

@media (max-width:695px) {
  .projec_detail_container .projec_image img {
    height: 290px;

  }

  .card_proje:nth-child(3) {
    background-position-y: 0px;
  }
}

@media (max-width:459px) {
  .projec_container {
    height: 284vh;
  }

  .projec_detail_container .projec_image {
    margin: 0px;
    height: 1300px;
  }

  .projec_detail_container .projec_image .image__ {
    height: 90%;
    gap: 0;
  }

  .projec_detail_container .projec_image .image__ img {
    width: 90%;

  }

  .projec_detail_container .projec_detail h1 {
    width: 100%;
  }

  .projec_detail_container .projec_detail .new_detail {
    width: 100%;
  }

}

#demotext {
  color: black;
  text-shadow: 2px 2px 0 rgba(81, 81, 206, 0.904), 2px -2px 0 rgba(81, 81, 206, 0.904), -2px 2px 0 rgba(81, 81, 206, 0.904), -2px -2px 0 rgba(81, 81, 206, 0.904), 2px 0px 0 rgba(81, 81, 206, 0.904), 0px 2px 0 rgba(81, 81, 206, 0.904), -2px 0px 0 rgba(81, 81, 206, 0.904), 0px -2px 0 rgba(81, 81, 206, 0.904);
  color: #FFFFFF;

}